node_modules/
.next/
.turbo/
out/
dist/

# Tests
coverage/
*.tsbuildinfo

# IDE / OS
.vscode/
.idea/
.DS_Store

# Git
.git/
.gitignore

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
